@import "grid"
@import "particles"
@import "typography"
@import "variables"
@import "navbar"

*
  box-sizing: border-box

body
  font-family: $font-main
  margin: 100vh 0 0


section
  min-height: 100vh
  text-align: center
  z-index: 2

.section-title
  padding: 100px 0
  position: relative
  @media (max-width: 768px)
    padding: 30px 0
  h2:after
    content: ""
    display: block
    height: 7px
    margin: 0 auto
    position: relative
    top: 20px
    width: 100px

// HEADER SECTION
header
  align-items: center
  background: rgba(0, 0, 0, .5)
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: center
  position: fixed
  top: 0
  width: 100vw
  z-index: -1
  h1
    color: white
    font-size: calc(3em + 3vw)
    @media (max-width: 768px)
      font-size: 2.3em
  .subtitle
    font-weight: 300

  .btn
    @include btn-style($color-yellow)
    margin-top: 100px
    padding: 20px 30px
    text-decoration: none

// PROJECTS SECTION
.projects
  background: white
  h2:after
    background-color: $color-red
  .image
    margin: 5%
    overflow: hidden
    position: relative
    width: 90%
    &:hover img
      transform: scale(1.1)
    &:hover .overlay
      opacity: 1
    img
      transition: .5s transform ease
      width: 100%
    .overlay
      align-items: center
      color: white
      filter: opacity(.85)
      bottom: 10%
      display: flex
      flex-direction: column
      justify-content: center
      left: 7%
      opacity: 0
      position: absolute
      right: 7%
      top: 10%
      transition: .5s opacity ease
    i
      display: block
      font-size: 3em
    .fa
      position: absolute
      bottom: 25%
      left: 50%

// ABOUT ME SECTION
.about_me
  background: $color-light-gray
  h2:after
    background-color: $color-green
  h3
    color: black
    font-family: $font-decoration
    padding-top: 50px
  .social
    i
      color: black
      font-size: 3em
      margin: 40px
      padding: 10px
      transition: .3s color ease
      &:hover
        color: $color-yellow

// TECHNOLOGIES SECTION
.technologies
  background: white
  h2:after
    background-color: $color-blue

  .service
    margin: 50px 15px
    @media (max-width: 768px)
      margin: 15px
    i
      font-size: 3em
      margin: 20px
    h3
      color: #000
    p
      max-width: 400px
      margin: 0 auto

  .items
    background: $color-blue
    margin: 0 auto
    padding: 50px 0

    width: 95%
    .row
      align-items: center
      justify-content: center
    i
      color: white
      font-size: 4em
      margin: 40px
    img
      margin: 31px
      width: 80px

// CONTACT SECTION
.contact
  background: $color-green
  h2:after
    background-color: $color-yellow
  form
    font-family: $font-main
    margin: 100px auto
    max-width: 600px
    padding: 0
    @media (max-width: 768px)
      margin: 50px auto 30px

    fieldset
      border: 0
    input, textarea
      border: 0
      font-family: $font-main
      margin: 5px 0
      outline-color: $color-yellow
      padding: 10px
      resize: vertical
      width: 100%

    .btn
      @include btn-style($color-yellow)

    // To hide labels on screen and make it "visible" for screen readers
    .hidden
      height: 1px
      left: -10000px
      overflow: hidden
      position: absolute
      top: auto
      width: 1px

  .success
    @include contact-message
    background-color: #dff0d8
    color: #468847

  .error
    @include contact-message
    background-color: #f2dede
    color: #b94a48

// COLOR SQUARE AROUND PAGE
.site-wrapper
  position: fixed
  background: $color-yellow
  z-index: 999 // to always be on top
  &.top,
  &.bottom
    height: $wrapper_width
    left: $wrapper_margin
    right: $wrapper_margin
  &.top
    top: $wrapper_margin
  &.bottom
    bottom: $wrapper_margin
  &.left,
  &.right
    bottom: $wrapper_margin
    top: $wrapper_margin
    width: $wrapper_width
  &.left
    left: $wrapper_margin
  &.right
    right: $wrapper_margin
    //REMOVE MARGIN IN SITE WRAPPER
  @media (max-width: 768px)
    &.top,
    &.bottom
      left: 0
      right: 0
    &.top
      top: 0
    &.bottom
      bottom: 0
    &.left,
    &.right
      bottom: 0
      top: 0
    &.left
      left: 0
    &.right
      right: 0
