@import "variables"

.sidenav
  background-color: rgba(0, 0, 0, .9)
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  left: 0
  overflow-x: hidden
  position: fixed
  text-align: center
  top: 0
  transition: 0.5s
  width: 0
  z-index: 10
  a
    color:  $color-light-gray
    font-size: 25px
    padding: 32px
    text-decoration: none
    text-transform: uppercase
    transition: 0.3s
    &:hover, .offcanvas a:focus
      color: $color-yellow
    @media (max-width: 576px)
      font-size: 18px

  .closebtn
    color: $color-light-gray
    font-size: 3em
    left: 74px
    padding: 0 !important
    position: absolute
    top: 60px
    @media (max-width: 576px)
      left: 23px
      top: 10px

.hamburger
  left: 75px
  position: fixed
  top: 75px
  z-index: 9
  @media (max-width: 576px)
    top: 25px
    left: 25px
  i
    color: $color-yellow
    cursor: pointer
    font-size: 30px
    text-shadow: 1px 0 0 $color-yellow, -1px 0 0 $color-yellow, 0 1px 0 $color-yellow, 0 -1px 0 $color-yellow
    &:hover
      color: #FFF
