canvas
  display: block
  vertical-align: bottom

/* ---- particles.js container ---- */
#particles-js
  background-color: rgba(0, 0, 0, .8)
  height: 100vh
  position: fixed
  top: 0
  width: 100vw
  z-index: -2  // To be under header


