@import "variables"
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700&subset=latin-ext')

$font-main: 'Lato', sans-serif
$font-decoration: 'Montserrat', sans-serif


h1, h2, h3
  font-family: $font-decoration
  margin: 0

h1, h2
  color: black

h3
  color: white

h2
  font-size: 3em

p
  font-family: $font-main
  font-size: 1.2em
  line-height: 1.5em
  margin: 0
  padding: 10px

header
  h1
    color: white
    font-size: calc(3em + 3vw)
  .subtitle
    font-weight: 300

.subtitle
  color: grey
  font-size: 1.8em
  font-weight: 400

.text-red
  color: $color-red

.text-bold
  font-weight: bold
