$wrapper_margin: 25px
$wrapper_width: 7px

// COLORS
$color-blue: #40C2D2
$color-green: #77C383
$color-red: #F04E59
$color-yellow: #FFC63B
$color-light-gray: #F1F1F1

// BACKGROUND COLORS
.bg-red
  background: $color-red
.bg-blue
  background: $color-blue
.bg-green
  background: $color-green
.bg-yellow
  background: $color-yellow
.bg-purple
  background: purple
.bg-brown
  background: saddlebrown
.bg-pink
  background: deeppink
.bg-orange
  background: orangered

