@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700&subset=latin-ext");
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 0; }

h2 {
  font-size: 3em; }

p {
  font-family: "Lato", sans-serif;
  margin: 0; }

header h1 {
  color: white;
  font-size: calc(3em + 3vw); }

header .subtitle {
  font-weight: 300; }

.subtitle {
  color: grey;
  font-size: 1.8em;
  font-weight: 400; }

.text-red {
  color: #F04E59; }

.text-bold {
  font-weight: bold; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -2; }

.container {
  margin: 0 auto;
  max-width: calc(100% - 64px);
  border: 1px solid orange; }
  @media (max-width: 768px) {
    .container {
      max-width: 100%; } }

[class*='col-'] {
  border: 1px solid green; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-lg-1 {
  flex: 8.333%; }

.col-lg-2 {
  flex: 16.667%; }

.col-lg-3 {
  flex: 25%; }

.col-lg-4 {
  flex: 33.333%; }

.col-lg-5 {
  flex: 41.667%; }

.col-lg-6 {
  flex: 50%; }

.col-lg-7 {
  flex: 58.333%; }

.col-lg-8 {
  flex: 66.667%; }

.col-lg-9 {
  flex: 75%; }

.col-lg-10 {
  flex: 83.333%; }

.col-lg-11 {
  flex: 91.667%; }

.col-lg-12 {
  flex: 100%; }

@media (max-width: 1200px) {
  .col-md-1 {
    flex: 8.333%; }
  .col-md-2 {
    flex: 16.667%; }
  .col-md-3 {
    flex: 25%; }
  .col-md-4 {
    flex: 33.333%; }
  .col-md-5 {
    flex: 41.667%; }
  .col-md-6 {
    flex: 50%; }
  .col-md-7 {
    flex: 58.333%; }
  .col-md-8 {
    flex: 66.667%; }
  .col-md-9 {
    flex: 75%; }
  .col-md-10 {
    flex: 83.333%; }
  .col-md-11 {
    flex: 91.667%; }
  .col-md-12 {
    flex: 100%; } }

@media (max-width: 768px) {
  .col-sm-0 {
    flex: 0; }
  .col-sm-1 {
    flex: 8.333%; }
  .col-sm-2 {
    flex: 16.667%; }
  .col-sm-3 {
    flex: 25%; }
  .col-sm-4 {
    flex: 33.333%; }
  .col-sm-5 {
    flex: 41.667%; }
  .col-sm-6 {
    flex: 50%; }
  .col-sm-7 {
    flex: 58.333%; }
  .col-sm-8 {
    flex: 66.667%; }
  .col-sm-9 {
    flex: 75%; }
  .col-sm-10 {
    flex: 83.333%; }
  .col-sm-11 {
    flex: 91.667%; }
  .col-sm-12 {
    flex: 100%; } }

@media (max-width: 576px) {
  .col-xs-0 {
    flex: 0; }
  .col-xs-1 {
    flex: 8.333%; }
  .col-xs-2 {
    flex: 16.667%; }
  .col-xs-3 {
    flex: 25%; }
  .col-xs-4 {
    flex: 33.333%; }
  .col-xs-5 {
    flex: 41.667%; }
  .col-xs-6 {
    flex: 50%; }
  .col-xs-7 {
    flex: 58.333%; }
  .col-xs-8 {
    flex: 66.667%; }
  .col-xs-9 {
    flex: 75%; }
  .col-xs-10 {
    flex: 83.333%; }
  .col-xs-11 {
    flex: 91.667%; }
  .col-xs-12 {
    flex: 100%; } }

* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto; }

section {
  min-height: 100vh;
  text-align: center; }
  section.about_me {
    background: orange; }
  section.projects {
    margin-top: 100vh;
    background: white; }
  section.technologies {
    background: blue; }
  section.contact {
    background: green; }

.section-title {
  position: relative;
  padding: 100px 0; }
  .section-title h2:after {
    background-color: #F04E59;
    content: "";
    display: block;
    height: 7px;
    margin: 0 auto;
    position: relative;
    width: 100px;
    top: 20px; }

header {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: -1; }
  header .btn {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #F04E59;
    padding: 20px 30px;
    font-size: 1em;
    text-decoration: none;
    transition: .3s all ease;
    margin-top: 100px; }
    header .btn:hover {
      border-color: #F04E59;
      color: white;
      background: #F04E59; }

.projects img {
  width: 90%;
  border: 1px solid red;
  margin: 5%; }

footer {
  height: 500px;
  background: gray; }

.site-wrapper {
  background: #F04E59;
  position: fixed;
  z-index: 999; }
  .site-wrapper.top, .site-wrapper.bottom {
    height: 7px;
    left: 25px;
    right: 25px; }
  .site-wrapper.top {
    top: 25px; }
  .site-wrapper.bottom {
    bottom: 25px; }
  .site-wrapper.left, .site-wrapper.right {
    width: 7px;
    top: 25px;
    bottom: 25px; }
  .site-wrapper.left {
    left: 25px; }
  .site-wrapper.right {
    right: 25px; }
  @media (max-width: 768px) {
    .site-wrapper.top, .site-wrapper.bottom {
      height: 7px;
      left: 0;
      right: 0; }
    .site-wrapper.top {
      top: 0; }
    .site-wrapper.bottom {
      bottom: 0; }
    .site-wrapper.left, .site-wrapper.right {
      width: 7px;
      top: 0;
      bottom: 0; }
    .site-wrapper.left {
      left: 0; }
    .site-wrapper.right {
      right: 0; } }

/*# sourceMappingURL=main.css.map */